@font-face {
  font-family: "Rajdhani";
  src: url("./Fonts/Rajdhani/Rajdhani-Regular.ttf");
}

:root {
  --main-font-color: #ffffff;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  height: 4000px;
  background: linear-gradient(165.89deg, #2a3646 -9.08%, #4c2e34 130.86%);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Rajdhani";
  padding: 45px 0px 45px 0px;
}

.app-container {
  position: relative;
  width: 90%;
  height: 100%;
}

#error-page {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.section-height-controller {
  height: 920px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
